* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Righteous', cursive;
}

a {
  color:red;
  text-decoration: none;
 }

nav {
  width: 100vw;
  height: 60px;
  position: fixed;
  z-index: 1;
}

ul {
  text-align: right;
  margin-top: 20px;
  margin-right: 50px;
  list-style: none;
}

nav ul li {
  width: 30px;
  height: 30px;
  background-color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: small;
  padding: 7px;
  margin-left: 20px;
  display: inline-block;
}

.column {
  height: 100%;
  position: relative;
}

img {
  width: 450px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text {
  height: 100px;
  color: #f9fc30;
  font-size: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 130%);
}

.text.red {
  color: red;
}

.punta{
  text-align: center;
}

.row.one {
  height: 100vh;
  background-color: lightblue;
}

.row.two {
  height: 100vh;
  background-color: #fcfce1;
}

.row.three {
  height: 100vh;
  background-color: lightblue;
}
