body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

nav {
  width: 100vw;
  height: 60px;
  position: fixed;
}

ul {
  text-align: right;
  margin-right: 50px;
}

nav ul li {
  width: 20px;
  height: 20px;
  background-color: violet;
  border-radius: 50px;
  text-align: center;
  font-size: small;
  padding: 7px;
  margin-left: 10px;
  display: inline-block;
}





.row.one {
  height: 100vh;
  background-color: lightblue;
}

.row.two {
  height: 100vh;
  background-color: lightgrey;
}

.row.three {
  height: 100vh;
  background-color: lightblue;
}
